*.xreport
/*.html
_ngo/
_xmsgs/
novena_rf_guide.ncd
novena_rf.bgn
novena_rf.bit
novena_rf.bld
novena_rf.cmd_log
novena_rf.drc
novena_rf.lso
novena_rf.ncd
novena_rf.ngc
novena_rf.ngd
novena_rf.ngr
novena_rf.pad
novena_rf.par
novena_rf.pcf
novena_rf.prj
novena_rf.ptwx
novena_rf.stx
novena_rf.syr
novena_rf.twr
novena_rf.twx
novena_rf.unroutes
novena_rf.ut
novena_rf.xpi
novena_rf.xst
novena_rf_map.map
novena_rf_map.mrp
novena_rf_map.ncd
novena_rf_map.ngm
novena_rf_map.xrpt
novena_rf_ngdbuild.xrpt
novena_rf_pad.csv
novena_rf_pad.txt
novena_rf_par.xrpt
novena_rf_summary.xml
novena_rf_usage.xml
novena_rf_xst.xrpt
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
iseconfig/
